<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="heading">Web Scraper for www.copyrightable.com</div>

    <div class="container">
        <h1>Fetch Registration Numbers <br>
        
        </h1>
        <form id="scraperForm">
            <!-- Category Input -->
            <div class="form-group">
                <label for="categoryInput">Category</label>
                <select id="categoryInput" name="category" required>
                    <option value="" disabled selected>Select a category</option>
                    <option value="Sound Recording">Sound Recording</option>
                    <option value="Serial">Serial</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Computer File">Computer File</option>
                    <option value="Dramatic Work And Music And Choreography">Dramatic Work And Music And Choreography</option>
                    <option value="Visual Material Registration">Visual Material</option>
                    <option value="Motion Picture">Motion Picture</option>
                    <option value="Music">Music</option>
                    <option value="Sound Recording And Music">Sound Recording And Music</option>
                    <option value="Text">Text</option>
                    <option value="Kit">Kit</option>
                    <option value="Sound Recording And Text">Sound Recording And Text</option>
                </select>
            </div>
            <!-- Alphabet Input -->
            <div class="form-group">
                <label for="alphabetInput">Alphabet</label>
                <input type="text" id="alphabetInput" name="alphabet" placeholder="Enter alphabet (e.g., a-z)" required>
            </div>
            <!-- Total Number of Records Input -->
            <div class="form-group" style="display: flex; gap: 1rem;">
                <div style="flex: 1;">
                <label for="urlOffsetStart">URL Offset Start</label>
                <input type="number" id="urlOffsetStart" name="urlOffsetStart" placeholder="Enter URL offset start" required>
            </div>

              <div style="flex: 1;">
                <label for="urlOffsetStart">URL Offset end</label>
                <input type="number" id="urlOffsetEnd" name="urlOffsetEnd" placeholder="Enter URL offset end" required>
            </div>
    
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
            <div class="form-group" id="spinnerContainer"  style="text-align:center" >
                 
            </div>
        </form>
    </div>

    <script src="/script.js"></script>
</body>
</html>
